# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide binary
glide

# Output of go tool trace
trace.out

# Output of go tool pprof
*.pprof

# Output of `go tool cgo`
_cgo_gotypes.go

# Output of `go generate`
*/_generated.go

# Output of `go run`
*.run

# Output of `go build`
*.build

# Output of `go install`
*.install

# Output of `go get`
*.get

.idea
